.card-nota {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--fundo-detalhes);
    border: solid 1px rgb(219, 219, 219);
    border-radius: 4px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09);
    padding: 16px;
  }
  .card-nota_cabecalho {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-nota_texto {
    margin-top: 8px;
    font-size: 1em;
  }
  
  .card-nota_titulo {
    font-size: 1.2em;
    margin-right: 12px;
    
  }

  .svg-icon{
   fill: rgb(252, 48, 48);
   cursor: pointer;
   size: 3vh;
   height: 30px;
   width: 30px;
   margin-top: -15px;
   margin-right: -10px;
  }